#fullpage
  .section.section-dark
    .section-container.centered
      .rambler-logo#rambler-logo
        a(href='http://rambler-co.ru' target='_blank')
          img(src=require('_svg/minify/rambler-logo.svg'))
      h1 Hello guys! This is our Boilerplate
  .section.section-white
    .section-container
      h1 So, what exactly does this Boilerplate have?
      ul
        li AMD
        li Dev Server
        li Build system
        li Assets loader
        li Autoprefixier
        li Chunkhashing
        li Minify
        li Stylus
        li Pug
      h1 How does it work?
      p Very simple, clone this repo, cd into cloned directory and run
        br
        code yarn
      p After that you can use next commands
        br
        code npm run dev
        br
        code npm run build

      h1 Thank you for attention
