#fullpage
  .section.section-dark
    .section-container.centered
      .rambler-logo
        a(href='http://rambler-co.ru' target='_blank')
          img(src=require('_svg/minify/rambler-logo.svg'))
      h1 Hello guys! This is a our example of Boilerplate
  .section.section-white
    .section-container
      h1 Description and other stuff will be comming soon