// default properties
.section-dark,
.section-white
  width 100%
  height 100vh
  text-align center
  .section-container
    width 600px
    img
      margin-bottom 40px
    h1
      font-size 30px
    p
      font-size 18px

// dark one
.section-dark
  color #fff
  background-color #000

// white one
.section-white
  padding 100px 0
  color #000
  background-color #fff
  ul
    margin 40px 0
    list-style none
    li
      font-size 18px
  p
    font-size 18px
    padding 20px 10px
  .section-container
    margin 0 auto

.centered
  left 50%
  top 50%
  position absolute
  text-align center
  transform translateY(-50%)
  margin-left -300px

.ip
  color #fff
  left 20px
  top 20px
  position absolute
