// Hello!
// import mixins
@import 'mixins/fonts'
@import 'mixins/resolutions'

// import stuff
@import 'prepare/reset'
@import 'fonts/web_serveroff'

body
  background #000
  font-family 'WebServeroff'
  width 100%
  height 100%

// apply media queries
apply_media_cache()
